<div class="row">
  <div class="col-md-7">
    
  </div>
  <div class="col-md-5">
    <%= form_for @presenter.filter, url: [:users], method: :get do |f| %>
      <fieldset class="form-group">
        <div class="input-group">
          <div class='input-group-btn' style='padding-right: 20px;'>
            <%= f.text_field :term, class: 'form-control',
                placeholder: 'Search...',
                  autofocus: true %>
            <%= button_tag class: 'btn btn-default', id: 'btn-search' do %>
              <i class="fa fa-search"></i>
            <% end %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
