<% provide :title, 'New Category' %>

<section class="content-header">
  <h1> Categories </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>
    <li> <%= link_to 'Categories', categories_path %> </li>
    <li class="active">New Category</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">New Category</h3>
        </div>
        <div class="box-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>

