<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">
      <%= side_link text: 'Home', path: root_path, icon_class: 'dashboard' %>
      <%= side_link text: 'Users', path: users_path, icon_class: 'user' %>
      <%= side_link text: 'Categories', path: categories_path, icon_class: 'suitcase' %>
    </ul>

  </section>
</aside>
